body, html{
    margin: 0px;
    padding: 0px;
    background-color: #ffc482;
}
#navbar{
    width: 100%;
    height: 60px;
    background-color: #3e2a35 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo{
    height: 30px;
    width: 110px;
}
.navlink{
    color: #4DA89F;
    font-size: 18px;
    text-decoration: none;
}
.font{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.headTitle{
    color:#4DA89F;
    text-align: center;
}
.productList_wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 5px 40px 5px;
    background-color: 	#ffb366;
    box-shadow: 0px 3px 7px 4px #3e2a35;
}
.productPreview{
    display: flex;
    align-items: center;
    height: 120px;
    width: 120px;
    border: 2px #3e2a35 solid;
    background-color: #f0a65b;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
}
.productTitle{
    color: #4DA89F ;
    font-size: 20px;
}
.productPrice{
    color: #175676;
    font-size: 20px;
}
.productDescription{
    color: #3e2a35;
    font-size: 13px;
}
.teddyColors{
    color: #55434d;
    font-size: 12px;
}
.productList_wrapper_left, .productList_wrapper_right{
    max-width: 50%;
    max-height: 50%;
}
.underline{
    text-align: center;
    border-bottom: 2px #3e2a35 solid;
    border-radius: 2px;
    margin: 5px;
}
/* Page produit */
.productForm{
    display: flex;
    justify-content: space-around;
}
.checkboxImage{
    height: 90px;
    width: 90px;
    padding: 5px;
    border: 2px #3e2a35 solid;
    background-color: #f0a65b;
    border-radius: 2px;
    box-shadow: 0px 3px 7px 4px #3e2a35;
}
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
[type=radio] + img {
    cursor: pointer;
}
[type=radio]:checked + img {
    border: 2px solid #f00!important;
    background-color: #ff6347;
}
/* Page panier */
.testPreview{
    height: 50px;
    width: 50px;
    border: 2px #3e2a35 solid;
    background-color: #f0a65b;
    box-shadow: 0px 3px 7px 4px #3e2a35;
    padding: 2px;
    border-radius: 2px;
}
.cartWrapper{
    border: 2px rgb(0, 229, 255) solid;
    display: flex;
}
.cartCollumn{
    display: flex;
    flex-direction: column;
}
.cartImage{
    border: 2px purple solid;
    max-width: 20%;
}
.cartName{
    border: 2px red solid;
    max-width: 50%;
}
.cartPrice{
    border: 2px blue solid;
    max-width: 30%;
}
.cartTotal{
    border: 2px white solid;
}
.testName{
    color: #3e2a35;
    font-size: 15px;
}
.testPrice{
    color: #175676;
    font-size: 16px;
}
.cartTotal{
    color: #4DA89F;
}